# Server
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=anonimizer_db

# Presidio Services (для локального development)
PRESIDIO_ANALYZER_URL=http://localhost:3001
PRESIDIO_ANONYMIZER_URL=http://localhost:3002

# CORS (для локального development)
CORS_ORIGIN=http://localhost:5173

# Frontend URL (для production)
FRONTEND_URL=https://your-frontend-domain.com
